
[Desktop Entry]
Type=Application
Exec=~/kiosk.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=Autostart Autodarts Kiosk
Name=Autostart Autodarts Kiosk
Comment[de_DE]=
Comment=
